/* .imgs{
    width: 200px;
} */
.pages {
    padding: 4rem 5rem 2rem;
    background-color: #003a58;
}
.imgs{
    border-radius: 30px;
}
.imgs img {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0;
    border-radius: 30px;
    overflow: hidden;
    transition: all 0.4s;
}
.imgs img:hover{
    transform: scale(1.1);
}

/* .imgs::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(172, 191, 243, 0.5); 
    filter: blur(5px); 
    z-index: 1;
  } */

/* .card_slider::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #2aaac76b;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
} */